﻿<div class="container" ng-controller="employee-controller">

    <h2>Cadastro de Registros</h2>

    @*Add New button*@
    <div class="container">
        <div class="col-sm-2">
            <button type="button" style="margin-top: 20px; margin-bottom: 20px;" class="btn btn-primary"
                    data-target="#AddNew" data-toggle="modal" id="btnAddEmployee">
                Adicionar Registro
            </button>
        </div>

        @*Caixa de pesquisa*@
        <div class="col-sm-3" style="margin-top:20px;">
            <input class="form-control" placeholder="Pesquisar" type="text" ng-model="pesquisa">
        </div>
        <br />

    </div>

    @**
        ******************************************************************************************
        ******************************************************************************************
        ***************************************** USERS ******************************************
        ******************************************************************************************
        ******************************************************************************************
    *@

    @*Users Records*@
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>CPF</th>
            @*th extra para layout extender a linha*@
            <th></th>
        </tr>
        <tr ng-repeat="user in Users | filter:pesquisa">
            <td> {{user.username}}</td>
            <td> {{user.birthdate}}</td>
            <td>{{user.cpf}}</td>
            <td>
                <a href="#" class="btn btn-primary" data-toggle="modal"
                   data-target="#Update" ng-click="updatebyId(user)">Atualizar</a>
                <a href="#" class="btn btn-danger" id="btnDelete" data-toggle="modal"
                   data-target="#deleteDialog" ng-click="deletebyId(user)">Deletar</a>
            </td>
        </tr>
    </table>

    @*New record Modal addition..*@
    <div class="modal" id="AddNew" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="text-info">Adicionar Registro</h3>
                </div>
                <div class="modal-body" style="margin-left:20px">

                    @*Add New User form starts here...*@
                    <form class="form-horizontal" name="AddNewForm">

                        <div class="form-group">
                            <input class="form-control" readonly="readonly"
                                   name="EmpNo" ng-model="userid" type="hidden"
                                   placeholder="Employee Number" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Nome *</label>
                            <input class="form-control" name="username" MaxLength="50"
                                   ng-model="username" type="text" required
                                   placeholder="Nome" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Data de Nascimento * (dd-MM-aaaa)</label>
                            <input class="form-control" name="birthdate" id="txtData" required
                                   ng-model="birthdate" type="text" placeholder="Data de Nascimento" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">CPF *</label>
                            <input class="form-control" name="cpf" maxlength="11" required
                                   ng-model="cpf" type="text" style="text-transform: uppercase;"
                                   placeholder="CPF" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            id="btnSave" ng-click="save()">
                        Adicionar
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" ng-click="resetSave()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @*Update User records*@
    <div class="modal" id="Update" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="text-info">Atualizar Registro</h3>
                </div>
                <div class="modal-body" style="margin-left:30px">
                    @*Update Employee form starts here...*@
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="userid"
                                   ng-model="updatedUserId" type="hidden" placeholder="Employee Number" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">Nome *</label>
                            <input class="form-control" name="username" ng-model="updatedName"
                                   type="text" placeholder="Nome" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">Data de Nascimento *</label>
                            <input class="form-control" name="birthdate" id="txtData2" ng-model="updatedBirthDate"
                                   type="text" placeholder="Data de Nascimento" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">CPF *</label>
                            <input class="form-control" name="cpf" ng-model="updatedCpf" maxlength="11"
                                   type="text" placeholder="CPF" />
                        </div>
                        @*Botões para telefone/endereço*@
                        <div class="container">
                            <div class="col-sm-1">
                                <a href="#" class="btn btn-link" id="btnDelete" data-toggle="modal"
                                   data-target="#listPhoneDialog" ng-click="loadPhones(updatedUserId)">Telefones</a>
                            </div>

                            <div class="col-sm-2">

                                <a href="#" class="btn btn-link" id="btnDelete" data-toggle="modal"
                                   data-target="#listAddressDialog" ng-click="loadAddress(updatedUserId)">Endereços</a>
                            </div>
                            @*Final dos botões para telefone/endereço*@
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate"
                            data-dismiss="modal" ng-click="update(updatedUserId)">
                        Atualizar
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @*Delete User record*@
    <div class="modal" role="dialog" id="deleteDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="text-info">Tem certeza que quer deletar esse usuário?</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <p><b>Nome:</b> {{updatedName}}</p>
                        <p id="txtData"><b>Data de Nascimento:</b> {{updatedBirthDate}}</p>
                        <p><b>CPF:</b> {{updatedCpf}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            data-dismiss="modal"
                            ng-click="delete(updatedUserId)">
                        Sim
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @**
        ******************************************************************************************
        ******************************************************************************************
        ***************************************** PHONES *****************************************
        ******************************************************************************************
        ******************************************************************************************
    *@

    @*Phones Records + Add phone*@
    <div class="modal" role="dialog" id="listPhoneDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="text-info">Telefones</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <h3 style="margin-left:30px;">Adicionar telefone</h3>
                        <div class="form-group container">
                            <div class="col-sm-3">
                                @*Adicionar telefone*@
                                <div class="form-group">
                                    <input class="form-control" readonly="readonly"
                                           name="EmpNo" ng-model="phoneid" type="hidden"
                                           placeholder="Employee Number" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Telefone * (Ex: 19992791043)</label>
                                    <input class="form-control" name="phone1" id="phoneNumber"
                                           ng-model="phone1" type="number"
                                           placeholder="Adicionar telefone" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" readonly="readonly"
                                           name="EmpNo" ng-model="userfk" type="hidden"
                                           placeholder="Employee Number" />
                                </div>
                            </div>
                            @*Botao adicionar telefones*@
                            <div class="col-sm-3" style="margin-top:40px;">
                                <button type="button" class="btn btn-primary" id="btnUpdate"
                                        ng-click="savePhones(phone1, updatedUserId)">
                                    Adicionar telefone
                                </button>
                            </div>
                            @*final botão*@
                            @*Fim adicionar telefone*@
                        </div>

                        @*Caixa de pesquisa*@
                        <p><strong>Digite um número abaixo para pesquisar</strong></p>
                        <input class="form-control" placeholder="Pesquisar" type="number" ng-model="pesquisaPhone">
                        <br />

                        <div>
                            @*Tabela para telefones*@
                            <table class="table">
                                <tr ng-repeat="phone in Phones | filter:pesquisaPhone">
                                    <td>{{phone.phone1}}</td>
                                    <td>
                                        <a href="#" class="btn btn-danger" id="btnDelete" data-toggle="modal"
                                           data-target="#deletePhoneDialog" ng-click="deletePhonebyId(phone)">Deletar</a>
                                    </td>
                                </tr>
                            </table>
                            @*Final da tabela para telefones*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal" ng-click="resetSavePhones()">
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @*Delete Phone record*@
    <div class="modal" role="dialog" id="deletePhoneDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <h3 class="text-info">Tem certeza que deseja excluir esse telefone?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            data-dismiss="modal"
                            ng-click="deletePhones(updatedPhoneId)">
                        Sim
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @**
        ******************************************************************************************
        ******************************************************************************************
        *************************************** ADDRESS ******************************************
        ******************************************************************************************
        ******************************************************************************************
    *@

    @*Endereco Records + Add endereco*@
    <div class="modal" role="dialog" id="listAddressDialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="text-info">Endereços</h3>
                </div>
                <div class="modal-body">
                    <h3 style="margin-left:30px;">Adicionar endereço</h3>
                    @*PRIMEIRO CONTAINER DE FORMS*@
                    <div class="form-group">
                        <div class="container">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-info">Rua *</label>
                                    <input class="form-control" name="street"
                                           ng-model="street" type="text" maxlength="100"
                                           placeholder="Rua" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Número *</label>
                                    <input class="form-control" name="number"
                                           ng-model="number" type="text" maxlength="10"
                                           placeholder="Número" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Bairro *</label>
                                    <input class="form-control" name="text"
                                           ng-model="neighborhood" type="text" maxlength="50"
                                           placeholder="Bairro" />
                                </div>
                            </div>

                            @*SEGUNDO CONTAINER DE FORMS*@
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-info">CEP *</label>
                                    <input class="form-control" name="street"
                                           ng-model="cep" type="number" id="cep"
                                           placeholder="CEP" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Cidade *</label>
                                    <input class="form-control" name="number"
                                           ng-model="city" type="text" maxlength="30"
                                           placeholder="Cidade" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Estado *</label>
                                    <input class="form-control" name="text"
                                           ng-model="state" type="text" maxlength="2"
                                           placeholder="Estado" />
                                </div>
                            </div>
                        </div>
                        @*BOTAO ADICIONAR*@
                        <div class="form-group container">
                            <button type="button" class="btn btn-primary" style="margin-left:15px;"
                                    ng-click="saveAddress(street,number,neighborhood,cep,city,state,updatedUserId)">
                                Adicionar endereço
                            </button>
                        </div>
                        @*Fim adicionar endereco*@

                        @*Caixa de pesquisa*@
                        <br />
                        <p><strong>Digite um endereço abaixo para pesquisar</strong></p>
                        <input class="form-control" placeholder="Pesquisar" type="text" ng-model="pesquisaAddress">
                        <br />

                        @*Tabela para endereco*@
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Rua</th>
                                    <th>Número</th>
                                    <th>Bairro</th>
                                    <th>CEP</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    @*th extra para layout extender a linha*@
                                    <th></th>
                                </tr>
                                <tr ng-repeat="address in Addresses| filter:pesquisaAddress">
                                    <td>{{address.street}}</td>
                                    <td>{{address.number}}</td>
                                    <td>{{address.neighborhood}}</td>
                                    <td>{{address.cep}}</td>
                                    <td>{{address.city}}</td>
                                    <td>{{address.state}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary" id="btnDelete" data-toggle="modal"
                                           ng-click="updateAddressbyId(address)" data-target="#UpdateAddress">Atualizar</a>
                                        <a href="#" class="btn btn-danger" id="btnDelete" data-toggle="modal"
                                           ng-click="deleteAddressbyId(address)" data-target="#DeleteAddress">Deletar</a>
                                    </td>
                                </tr>
                            </table>
                            @*Final da tabela para endereco*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal" ng-click="resetSaveAddress()">
                                Sair
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @*Delete Address record*@
    <div class="modal" role="dialog" id="DeleteAddress">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <h3 class="text-info">Tem certeza que deseja excluir esse endereço?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            data-dismiss="modal"
                            ng-click="delAddress(updatedAddressId)">
                        Sim
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

    @*Update Address records*@
    <div class="modal" id="UpdateAddress" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="text-info">Atualizar Registro</h3>
                </div>
                <div class="modal-body" style="margin-left:30px">
                    @*Update Employee form starts here...*@
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="container">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-info">Rua *</label>
                                    <input class="form-control" name="username" ng-model="updatedStreet" maxlength="100"
                                           type="text" placeholder="Rua" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Número *</label>
                                    <input class="form-control" name="number" ng-model="updatedNumber"
                                           type="number" placeholder="Número" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Bairro *</label>
                                    <input class="form-control" name="neighborhood" ng-model="updatedNeighborhood" maxlength="50"
                                           type="text" placeholder="Bairro" />
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="text-info">Cep *</label>
                                    <input class="form-control" name="cep" ng-model="updatedCep" maxlength="8"
                                           type="text" placeholder="Cep" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Cidade *</label>
                                    <input class="form-control" name="city" ng-model="updatedCity" maxlength="30"
                                           type="text" placeholder="Cidade" />
                                </div>
                                <div class="form-group">
                                    <label class="text-info">Estado *</label>
                                    <input class="form-control" name="state" ng-model="updatedState" maxlength="2"
                                           type="text" placeholder="Estado" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate"
                            data-dismiss="modal" ng-click="updateAddress(updatedAddressId)">
                        Atualizar
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*End of Modal*@

</div>




@section scripts{

    @*Mascaras*@
    <script type="text/javascript">
        jQuery(function ($) {
            $("#txtData").mask("99-99-9999");
            $("#txtData2").mask("99-99-9999");
            $("#phoneNumber").mask("99999999999");
            $("#cep").mask("99999999");
        });
    </script>

    <script src="~/AngularJSApp/Employee/Module.js"></script>
    <script src="~/AngularJSApp/Employee/Service.js"></script>
    <script src="~/AngularJSApp/Employee/Controller.js"></script>
}
